/* Style for the navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .navbar .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  
  /* Style for the links */
  .navbar a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    font-weight: bold;
  }
  
  /* Style for the shopping cart icon */
  .navbar .shopping-cart {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 h1{
  padding-left: 100px;
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 p{
  padding-left: 100px;
}
.col-2 a{
  padding-left: 100px;
}
.col-2 .explore_btn{
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px;
  
}
.product-list{
  display: inline-block;
  flex-direction: column;
  border-radius: 5px;
  width: 100%/3;
  height: 350px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.product-list .description{
  text-align: center;
}

.product-card:hover{
  transition: 0.3s ease-in;
  cursor: pointer;
}

.add-to-cart{
  width: 8.5em;
  height: 2.0em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.add-to-cart:hover {
  color: black;
}

.add-to-cart:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
 
.add-to-cart:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#footer {
  background-color: #6d6767;
color: #fff;
padding: 20px;
text-align: center;
text-align:center;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.footer-links li {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

.footer-links li a {
  color:#fff;
  text-decoration: none;
  transition: color 0.35 ease;
}

.footer-links li a:hover {
  color: #ccc;
}





